.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageNotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px;

    &__text {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 50px;
    }
}