$bcgColor: #1B0522;
$purpleColor: #2D1436;
$whiteColor: #ffffff;
$redColor: #F7393D;
$bcgInput: #42204E;
$placeholderInput: #8B5D9A;
$bcgCard: #3d1d48;
$gradient: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%);
$darkGradient: linear-gradient(90deg, #5d022e 0%, #6e3003 100%);
$focusOutline: 2px solid #ffffff;